.top-area {
  position: relative;
  height: 221px;
}

.date-area{
  position: absolute;
  left: 50px;
  top: 50px;
}

.weather-area {
  position: absolute;
  right: 50px;
  top: 50px;
}

.weather-summary  {
  float: right;
}

.temp {
  clear: both;
  float: right;
}

.forecast {
  clear: both;
}

.forecast-item {
  margin-bottom: 10px;
}


.weibo-area {
  max-width: 600px;
  width: 100%;
  padding: 0 50px;
}
.weibo-item {
  margin-bottom: 15px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .top-area {
    height: 500px;
  }

  .weather-area {
    top: 205px;
    right: auto;
    left: 50px;
  }

  .weather-summary {
    float: left;
  }
}